<h1>Welcome to your Dash Board</h1>
{{#each pets}}
  <div class="row" style="margin; auto">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">{{petName}}</h5>
          <img
            src="{{ImageURL}}"
            class="card-img-top" alt="...">
          <div class="card-body">
<<<<<<< HEAD
            <p>{{petId}}) {{petName}}</p>
            <p>{{birthMonth}}/{{birthYear}}</p>
            <p>{{petType}}</p>
            <p>{{gender}}</p>
            <p>{{neutered}}</p>
            <a href="#" id={{petId}} class="btn btn-primary delete">Delete</a>
=======
            <li>
			<p>{{birthMonth}}/{{birthYear}}</p>
			<p>{{petType}}</p>
			<p>{{gender}}</p>
			<p>{{neutered}}</p>
            <a href="#" id={{petId}} class="btn btn-primary delete">Delete</a>
			</li>
>>>>>>> ad353b21dc44a2e596caab59bf56238d38a5c33c
          </div>
        </div>
{{/each}}
<script>
	$(".delete").on("click",function(){
		$.delete("/api/pets/"+$(this).data("id")).then(function(){
<<<<<<< HEAD
      location.reload();
    });
	})//this doesnt work
=======
     		location.reload();
		});
	});
>>>>>>> ad353b21dc44a2e596caab59bf56238d38a5c33c
</script>