<p>TEST</p>
<ul>
{{#each pets}}
<div class="row">
	<div class="col-md-7">
		<li id={{petId}}>
		<p>{{petName}}</p>
		<p>{{birthMonth}}/{{birthYear}}</p>
		<p>{{petType}}</p>
		<p>{{gender}}</p>
		<p>{{neutered}}</p>
		</li>
	</div>
</div>
{{/each}}
</ul>